@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
   <p> Message of the Day: @ViewBag.Hello </p>
    
   <p> Best Seller  @ViewBag.Name  with @ViewBag.Total items</p>
</div>
